.ListaBasica {
    .inline-list {
        display: inline;
        list-style-type: none;
        padding: 60px 60px 60px 60px;
    }

   .inline-list li {
        padding: 60px 60px 60px 60px;
        display: inline;
        margin-right: 10px;

    }
}