.primrerasec {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    .h2 {
        font-family: Arial, Helvetica, sans-serif;


    }

    img {

        width: 50%;
        height: 200px;
    }

    .p {


        font-family: Arial, Helvetica, sans-serif;
    }
}