* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 140, 140);


}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 5px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.imagen{
    padding: 50px 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;

    display: flex;
}

.formulario {
    padding: 50px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    border-radius: 20px;

}

form {
    label {
        display: flex;
        justify-content: center;

        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    textarea {
        height: 150px;
    }

    input[type="submit"] {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

footer {
    display: flex;

    color: white;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-toggle {
    display: none; /* Ocultar el botón hamburguesa por defecto en dispositivos grandes */
  }
  
  @media only screen and (max-width: 768px) {
    .menu-toggle {
      display: block; /* Mostrar el botón hamburguesa en dispositivos móviles */
      cursor: pointer;
    }
  
    .nav-menu {
      display: none; /* Ocultar el menú desplegable por defecto en dispositivos móviles */
    }
  
    .hamburger {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
    }
  
    .hamburger:before,
    .hamburger:after {
      content: '';
      display: block;
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
    }
  }
   